# User service for Rclone mounting
#
# Place in ~/.config/systemd/user/
# File must include the '@' (ex rclone@.service)
# As your normal user, run
#   systemctl --user daemon-reload
# You can now start/enable each remote by using rclone@<remote>
#   systemctl --user enable --now rclone-nocache@dropbox

[Unit]
Description=rclone: Remote FUSE filesystem for cloud storage config %i
Documentation=man:rclone(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStartPre=/usr/bin/mkdir -p %h/.local/volumes/%i
ExecStart= \
  /usr/bin/rclone mount \
    %i:/ %h/.local/volumes/%i \
    --log-file /tmp/rclone-no-cache%i.log \
    --log-level INFO \
    --vfs-cache-mode off \
    --allow-non-empty \
    --direct-io

ExecStop=/bin/fusermountd -u %h/.local/volumes/%i

[Install]
WantedBy=default.target
