*.env
*.tar
*.tar.gz
*.zip
*.rar
*.gz
*.log
*.DS_Store
*.mmdb
*.ttf
*.ttc
*.otf

default.target.wants

/.env.conf
/conf/nvim/plugged/*
/opt
/backup
/logs
/examples

/conf/zplug
/conf/nvim/plugged/*
.qodo

/local/share/boxs-binary
conf/.config/systemd/user/multi-user.target.wants/ollama.service

.codeartsdoer