registry=https://mirrors.xie.ke/npm
electron_mirror=https://repo.huaweicloud.com/electron/
disturl=https://npmmirror.com/mirrors/node/
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver
selenium_cdnurl=https://npmmirror.com/mirrors/selenium
node_inspector_cdnurl=https://npmmirror.com/mirrors/node-inspector
fsevents_binary_host_mirror=https://npm.taobao.org/mirrors/fsevents/
