[Unit]
Description=Bark server
After=network.target

[Service]
Type=simple
ExecStart=/opt/bark/bark-server_linux_amd64 --addr "0.0.0.0:8801" --data "/data/bark" --dsn "user:password@tcp(127.0.0.1)/dbname"
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target